---
import '../styles/global.css';
import '../styles/home.css';
import backgroundImage from '../assets/background.jpg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title></title>
	</head>
	<body style={`background-image: url(${backgroundImage.src});`}>
		<main class="page-shell home">
			<div class="page-header">
				<span>
					<h1>Transit Events&nbsp;</h1>
					<img src="https://emoji.slack-edge.com/T09V59WQY1E/yayayayayay/203666b7424ee7a7.gif">
					<img src="https://emoji.slack-edge.com/T09V59WQY1E/train-autism-creature/fc169de9963820e4.png">
				</span>
				<p class="tagline"><b>车辆起步，请拉好扶手。投币后请配合朝里走。</b><br>(An announcement on some busses in Shanghai)</p>
				<a href="/posts" class="posts-link">See Posts</a>
			</div>
		</main>
	</body>
</html>
